.article-updater{
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.article-updater, input, label{
  width: 75%;
}

.article-updater textarea{
  width: 100%;
  height: 200px;
  font-size: 22px;
  border: 1px solid black;
  border-radius: 5px;
}

.article-updater input, .article-updater label{
  display: block;
  font-size: 30px;
}

select{
  height: 40px;
  width: 130px;
  font-size: 20px;
  background-color: #00164E;
  color: white;
}
.article-updater button{
  margin-left: 15px;
  margin-right: 15px;
  height: 40px;
  width: 90px;
  font-size: 18px;
  float: right;
  border-radius: 50px;
}

.article-updater label, .lesson-learned-success{
  color: white;
}