.article-link .update{
  background-color: #64BE64;
  border-color: #41A941;
  width: 100px;
  height: 50px;
  font-size: 25px;
  border-radius: 50px;
}

.article-link .delete{
  background-color: red;
  border-color: red;
  height: 50px;
  font-size: 25px;
  border-radius: 50px;
}

.article-link{
  margin-top: 10px;
}

.article-viewer h2{
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  color: white;
  border-radius: 50px;
  background-color: #00164E;
  box-shadow: 10px 8px 16px 2px #262626;
}

.article-div{
  text-align: center;
}

.article-title{
  font-size: 25px;
  width: 300px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #02174E;
  border-color: #02174E;
}

.article-viewer{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  height: 100%;
}
