article{
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
}

article h1{
  background-color: #02174E;
  color: white;
  border-radius: 50px;
}

article p{
  border-radius: 50px;
  border: 5px solid #02174E;
  color: white;
  padding: 10px;
}

article div{
  border-radius: 50px;
  border: 5px solid;
  border-color: #64BE64;
  font-size: 18px;
}