.header {
  background-color: #02174E;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  font-family: 'Bad Script', cursive;
  z-index: 10;
  height: 65px;
}

.register-container.nav{
  margin: 0;
}

.header h1:hover{
  color: lightgray;
}

.main-title, .subtitle{
  padding-left: 5px;
}

.head-box a{
  margin-right: 0 !important;
}

.username{
  font-size: 16px;
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 25px;  
  color: lightskyblue;
}

.menu-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 2px;
  right: 12px;
  padding: 5px;
  color: white;
}

.menu-button:hover{
  cursor: pointer;
}

.menu-option{
  background-color: #02174E;
  border-top: none;
  text-align: center;
  width: 250px;
  height: 50px;
}

.menu-option .link{
  text-decoration: none;
  width: 80%;
  height: 90%;
  margin-top: 2px;
  padding-top: 5px;
  display: inline-block;
}

.menu-option .link:hover{
  background-color: white !important;
  color: #00154E !important;
}

.menu-option button{
  width:80%;
  border: none;
  height: 90%;
  margin-top: 2px;
  border-radius: 25px;
  font-size: 16px;
  font-family: 'Bad Script', cursive;
}

.to-log-out{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.menu-option button:hover{
  background: white;
  color:#64BE64;
}

.to-log-out{
  background-color: #64BE64;
  padding-top: 0 !important;
}

.dropdown-menu{
  position: absolute;
  right: 0;
  padding-right: 10px;
  top: 65px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form-error{
  color: red !important;
  position: absolute;
  top:-22px;
  font-size: 16px;
  padding-left: 50px;
}

.register-login{
  text-align:center;
  margin-top: 30px;
}

.register-login a{
  font-size: 20px;
  color: #02174E;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
}

.login-form{
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #02174E;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.login-form h3, .login-form label{
  color: white;
  font-style: normal;
  font-size: 22px;
}

.login-form button{
  height: 30px;
  font-size: 20px;
  border-radius: 50px;
  width: 100px;
}

.login-title{
  margin-top: 10px;
  background-color: #335EBD;
  border-radius: 50px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.login-form input{
  width: 100%;
  text-align: center;
  max-width: 200px;
}

.sign-up-link:hover{
  background:none !important;
}

.dropdown-menu .login-form{
  border-radius: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 250px;
  padding: 0;
}

.dropdown-menu .login-form .col-4{
  width: 100%;
}
.dropdown-menu .login-form .col-2{
  width: 100%;
}

.dropdown-menu .login-form button{
  width: 80%;
  height: 40px;
  margin-bottom: 5px;
}

.dropdown-menu .login-form input{
  height: 40px;
  margin-bottom: 10px;
  width: 300px
}

.dropdown-menu .form-error{
  display: none
}

/* putting media queries inside classes */

@media screen and (max-width: 805px){
  .navLink{
    display: none;
  }

  .logout-button{
    display: none;
  }

  .header h1{
    font-size: 20px;
    display: inline-block;
  }
}

@media screen and (max-width: 400px){
  .header .subtitle{
    display: none;
  }

  .username{
    font-size: 16px;
    top: 25px;
  }

  .logout-button{
    display: none;
  }
}

@media screen and (max-width: 320px){
  .username{
    display: none;
  }
}

@media screen and (max-width: 1015px){
  .register-container{
    display: none !important;
  }
  .login-form{
    position: absolute;
    top: 0px;
    right: 0;
  }
  .header h1{
    font-size: 28px;
    display: inline-block;
    padding-top: 5px;
    margin: 0;
  }
  .nav{
    display: none;
  }
}

@media screen and (max-width: 1050px){
  .subtitle {
    display: none !important;
  }
}

@media screen and (min-width: 1016px){

  .main-title, .subtitle {
    margin: 0px;
    padding: 0;
    display: inline-block;
  }

  .main-title{
    font-size: 28px;
  }

  .subtitle{
    font-size: 15px;
    color: lightskyblue;
  }

  .username {
    top: 23px;
    right: 90px;
  }

  .info-section{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:110px;
  }

  .head-box{
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav{
    font-size: 20px;
    height: 65px;
    width: 60%;
    padding-right: 10px;
    padding-top: 18px;
  }

  .logout-button{
    margin-top: 2px;
    width: 80px;
    float: right;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
  }

  .header a{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 20px;
    text-decoration: none;
  }

  .header div{
    display: inline-block;
    padding-right: 5px;
  }

  .menu-button{
    display: none;
  }

  .dropdown-menu{
    display: none !important;
  }

}

.header a{
  text-align: center;
  border-radius: 20px;
  color: white;
}

.nav a:hover{
  background-color: white;
  color:#335EBD !important;
}

.sign-up-link{
  margin-right: 0 !important;
  padding: 0 !important;
  margin-left: 5px;
}

.sign-up-link a:hover{
  background-color: none;
}
