.header {
  background-color: #02174E;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  font-family: 'Bad Script', cursive;
  z-index: 10;
}

.menu-button{
  background-image: url("https://image.flaticon.com/icons/png/512/56/56763.png");
  background-size: 100%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 9px;
  right: 12px;
  padding-right: 10px;
  padding-top: 20px;
  background-color: #8F8F8F;
  border-color: #595959
}

.menu-option{
  background-color: gray;
  border: 2px solid black;
  border-top: none;
  text-align: center;
  width: 250px;
  height: 50px;
  padding-top:10px;
}

.menu-option a{
  text-decoration: none;
}

.menu-option a:hover{
  background-color: gray !important;
}

.menu-option button{
  width:100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Bad Script', cursive;
}

.to-log-out{
  background-color: #64BE64;
  padding-top: 0 !important;
}

.dropdown-menu{
  position: absolute;
  right: 0;
  padding-right: 10px;
  top: 50;
}

/* putting media queries inside classes */

@media screen and (max-width: 805px){
  .navLink{
    display: none;
  }
  .username{
    display: none;
  }

  .logout-button{
    display: none;
  }

  .header h1{
    font-size: 20px;
    display: inline-block;
  }
}

@media screen and (max-width: 400px){
  .header h1{
    font-size: 20px;
    display: inline-block;
  }

  .header .subtitle{
    display: none;
  }

  .username{
    display: none;
  }

  .logout-button{
    display: none;
  }

  .menu-button{
    margin-top: 7px;
  }
}

@media screen and (max-width: 1015px){
  .subtitle {
    display: none !important;
  }
}

@media screen and (min-width: 805px){

  .main-title, .subtitle {
    margin: 0px;
    padding-left: 10px;
    display: inline;
  }

  .main-title{
    font-size: 28px;
  }

  .subtitle{
    font-size: 16px;
  }

  .info-section{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:110px;
  }

  .head-box{
    width: 40%;
    display: inline-block;
  }

  .nav{
    width: 60%;
    display: inline-block;
    padding-right: 10px;
  }

  .logout-button{
    width: 80px;
    float: right;
    height: 28px;
    font-size: 16px;
    border-radius: 20px;
  }

  nav.nav{
    display: inline-block;
    text-align: right;
  }

  .header a{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .header div{
    display: inline-block;
    padding-right: 5px;
  }

  .menu-button{
    display: none;
  }

  .dropdown-menu{
    display: none;
  }
}

.header a{
  text-align: center;
  border-radius: 20px;
  color: white;
}

.header a:hover{
  background-color: white;
  color:#335EBD;
}

.header a:link{
  color:white
}

.sign-up-link{
  margin-right: 0 !important;
  padding: 0 !important;
  margin-left: 5px;
}

.sign-up-link a:hover{
  background-color: none;
}
