.header {
  background-color: #335EBD;
  color: white;
  margin: 0px auto;
  height:150px;
  font-family: 'Bad Script', cursive;
}

.main-title, .subtitle {
  margin: 0px;
  padding: none;
}

.info-section{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header button {
  float:right;
  display:block;
  margin-right:10px;
}

.header a{
  text-align: center;
  border-radius: 5px;
  color: white;
}

.header a:hover{
  background-color: white;
  color:#335EBD;
}

.header a:link{
  color:white
}
