.home {
  text-align: center;
}

.registration-form{
 margin-top: 90px;
 color: white;
}

.toSignIn, .registration-form button{
  margin-top:10px;
}

.form-input input, .registration-form label{
  font-size: 20px;
  border-radius: 50px;
}

.registration-form button{
  height: 40px;
  width: 90px;
  font-size: 18px;
  border-radius: 50px;
}

.home .toSignIn{
  color: white;
  margin-top: 15px;
  border-radius: 50px;
  font-size: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-input input{
  text-align: center;
}

.back-to-dash {
  background-color: white;
  color: #02174E;
  border-color: #02174E;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 10px;
}

